/*@import url(http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold);*/

body {
    color: #444;
    margin: 0 8em;
    width: 600px;
}

p {
    line-height: 1.4em;
    margin-bottom: 1em;
}

ul, ol {
    padding: 0;
}

li {
    margin: 0.5em 0 0 2.5em;
}

blockquote {
    font-style: italic;
    margin: 0;
}

blockquote em {
    font-weight: bold;
}

pre, code {
    font-family: monospaced;
}

pre {
    border: 0.15em solid #eee;
    border-left: 1em solid #eee;
    display: block;
    padding: 1em 1em 1em 2em;
}

h1, h2, h3, h4, abbr.updated {
    font-family: sans-serif;    
    font-weight: normal;
}

h1 {
    background: transparent url('/images/simon_thumb.jpg') no-repeat;
    line-height: 50px;
    margin: 1.5em 0 1em 0;
    padding-left: 60px;
}

h1, h1 a, h2, h2 a {
    text-decoration: none;
}

h1 a:hover, h2 a:hover {
    text-decoration: underline;
}

h1 span.subtitle {
    color: #ccc;
    padding: 0 0 0 0.4em;
}

h2 {
    font-size: 0.94em;
}

h3 {
    color: #222;
}

img {
    margin: 1em 0 1em 0;
}

table {
    margin-top: 1em;
}

table th, table td {
    padding-right: 1em;
    text-align: left;
}

table.hanging {
    display: inline;
    float: left;
    padding: 0;
    margin: 1em 1em 1em -10em;
}

table caption {
    caption-side: bottom;
    color: #666;
    padding: 0 1em;
    text-align: left;
}

table.hanging img {
    border: .1em solid #ddd;
    margin: 0;
    padding: .5em;
}

abbr.updated, ul.tags {
    float: left;
}

abbr.updated {
    border: 0;
    color: #ccc;
    margin: 0 0 0 -6.25em;
}

ul.tags {
    width: 12em;
    text-align: right;
    list-style-type: none;
    margin: 0 0 0 -12em;
}

ul.tags li {
    display: block;
    padding: 0 1.2em 0 0;
    margin: 0;
}

ul.tags li a {
    background: #D9DBDD;
    text-decoration:none;
}

ul.tags a:hover {
    background: #999;
    text-decoration:none;
}

p#footer {
    color: #bbb;
    margin-top: 3em;
    text-align: center;
    text-indent: 0;
}

#elsewhere {
    background: #f0f0f0;
    position: absolute;
    left: 0em;
    top: -1em;
    z-index: 9000;
}

#elsewhere li {
    list-style: none;
}

#elsewhere a {
    position: inline;
    display: block;
    margin-bottom: .5em;
    padding: .4em .6em;
    text-decoration: none;
}

