@import url(http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold);

body {
    color: #444;
    font: normal normal normal 100%/1.6em sans-serif;
    padding: 0 3em 0 13em;
    width: 768px;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background: #ff4005;
}

p {
    line-height: 1.4em;
    margin-bottom: 1em;
}

ul, ol {
    padding: 0;
}

li {
    margin: 0.5em 0 0 2.5em;
}

blockquote {
    font-style: italic;
    margin: 0;
}

blockquote em {
    font-weight: bold;
}

pre, code {
    font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
                 Consolas, Monaco, 'Lucida Console', monospaced;
}

pre {
    border: 0.15em solid #eee;
    border-left: 1em solid #eee;
    display: block;
    padding: 1em 1em 1em 2em;
}

h1, h2, h3, h4, abbr.updated {
    font-family: "Nobile", serif;    
    font-weight: normal;
}

h1 {
    line-height: 40px;
    margin: 1.5em 0 1em 0;
}

h1, h1 a {
    color: #333;
}

h1 a:hover, h2 a:hover {
    color: #fff;
}

h1 span.subtitle {
    color: #ccc;
    padding: 0 0 0 0.4em;
}

h2, h2 a {
    color: #738244;
}

h3 {
    color: #222;
}

img {
    margin: 1em 0 1em 0;
}

table {
    margin-top: 1em;
}

table th, table td {
    padding-right: 1em;
    text-align: left;
}

table.hanging {
    display: inline;
    float: left;
    padding: 0;
    margin: 1em 1em 1em -10em;
}

table caption {
    caption-side: bottom;
    color: #666;
    padding: 0 1em;
    text-align: left;
}

table.hanging img {
    border: .1em solid #ddd;
    margin: 0;
    padding: .5em;
}

abbr.updated, ul.tags {
    float: left;
}

abbr.updated {
    border: 0;
    color: #ccc;
    margin: 0 0 0 -6.25em;
}

ul.tags {
    width: 12em;
    text-align: right;
    list-style-type: none;
    margin: 0 0 0 -12em;
}

ul.tags li {
    display: block;
    padding: 0 1.2em .3em 0;
}

ul.tags li a, .entry-content a {
    color: #212121;
    background: #D9DBDD;
}

ul.tags a:hover, .entry-content a:hover {
    color: #fff;
    background: #ff4005;
}

p#footer {
    color: #bbb;
    margin-top: 3em;
    text-align: center;
    text-indent: 0;
}

p#footer a {
    color: #999;
    background: #fff;
}

p#footer a:hover {
    color: #fff;
    background: #ff4005;
}

#elsewhere {
    margin: 1.3em;
    position: absolute;
    right: 1em;
    top: .5em;
    z-index: 9000;
}

#elsewhere a {
    background: #c00;
    border-radius:.3em;
    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    color: #fff;
    display: block;
    margin-bottom: .5em;
    opacity: .9;
    padding: .4em .6em;
    text-decoration: none;
}

#elsewhere a:hover {
    opacity: .6;
}